.content-wrap {
  opacity: 1;
}

.post-block {
  background: rgba(255,255,255,0.7);
}
.post-block:hover {
  background: rgba(245,245,245,1);
}


.sidebar {
  background: rgba(255,255,255,0);
}
.sidebar:hover {
  background: rgba(245,245,245,1);
}

.sidebar-inner {
  background: rgba(255,255,255,0.6);
}
.sidebar-inner:hover {
  background: rgba(245,245,245,1);
}

.header-inner {
  background: rgba(255,255,255,0.6);
}
.header-inner:hover {
  background: rgba(245,245,245,0.6);
}

.comments {
  background: rgba(255,255,255,0.8);
}
.comments:hover {
  background: rgba(245,245,245,1);
}

.popup {
  opacity: 0.8;
}
.popup:hover {
  opacity: 1;
}
.author {
  font-size: 16px;
  color: white;
}

.copyright {
  font-size: 16px;
  color: white;
}

.busuanzi-count {
  font-size: 14px;
  color: white;
}

.post {
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 25px;
  -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
  -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}

.search-popup {
  opacity: 1;
}

.text-center {
  text-align: center;
}
